{% extends 'app/base.html' %}

{% block content %}
<!-- hero section -->
<div class="hero vh-100 d-flex align-items-center" id="home">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 mx-auto">
                <h1>You are already one of us, aren't you</h1>
                <p>オフィシャルサイトへようこそ</p>
            </div>
        </div>
    </div>
</div>

<!-- information section -->
<section id="info">
    <div class="container">
        <div class="row">
            <div class="col-md-5 mx-auto text-center">
                <h6 class="text-primary">What's new</h6>
                <h4 class="mb-4">new information</h4>

                <div class="articles text-left">
                    {% for post in posts %}
                    <div class="article_title mb-4 text-left">
                        <small>{{post.posted_date}}: </small>
                        <a href="{% url 'post_detail' post.slug %}">{{post.title}}</a>
                    </div>
                    {% endfor %}
                </div>

            </div>
        </div>
    </div>
</section>

<!-- video section -->
<section id="video">
    <div class="container">
        <div class="row">
            <div class="col-md-8 mx-auto text-center">
                <h6 class="text-primary">VIDEO</h6>
                <h4>Watch our peformance</h4>
                <div class="youtube">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/vycDmELfVF4"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        allowfullscreen></iframe>

                </div>
            </div>
        </div>
    </div>
</section>

<!-- shop section -->
<section id="shop">
    <div class="container">
        <div class="row mb-4">
            <div class="col-md-8 mx-auto text-center">
                <h6 class="text-primary">SHOP</h6>
                <h4>new arrivals</h4>
                <!-- <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ad!</p> -->
            </div>
        </div>

        <div class="row g-4">
            <div class="col-lg-4 col-sm-6">
                <div class="items card-effect">
                    <a href="https://www.amazon.co.jp/" class="item_name">1st album (physical) : "binary love"</a>
                    <h6 class="price">¥1,300 +tax</h6>
                    <img class="item_img text-right" src="{% static 'images/artwork1.jpg' %}" width="200" height="200">
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="items card-effect">
                    <a href="https://www.amazon.co.jp/" class="item_name">2nd album (physical) : "blue eyes"</a>
                    <h6 class="price">¥1,300 +tax</h6>
                    <img class="item_img text-right" src="{% static 'images/artwork2.jpg' %}" width="200" height="200">
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="items card-effect">
                    <a href="https://www.amazon.co.jp/" class="item_name">baseball cap</a>
                    <h6 class="price">¥5,000 +tax</h6>
                    <img class="item_img text-right" src="{% static 'images/baseballcap.jpg' %}" width="200"
                        height="200">
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="items card-effect">
                    <a href="https://www.amazon.co.jp/" class="item_name">iPhone cover</a>
                    <h6 class="price">¥4,000 +tax</h6>
                    <img class="item_img text-right" src="{% static 'images/cover.jpeg' %}" width="160" height="200">
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="items card-effect">
                    <h5 class="item_name">item name</h5>
                    <h6 class="price">price</h6>
                    <img class="item_img text-right" src="{% static 'images/podcase.webp' %}" width="200" height="200">
                </div>
            </div>

            <div class="col-lg-4 col-sm-6">
                <div class="items card-effect">
                    <h5 class="item_name">item name</h5>
                    <h6 class="price">price</h6>
                    <p>please wait for more items</p>
                </div>
            </div>

        </div>
    </div>
</section>

<!-- membership section -->
<section id="member">
    <div class="container">
        <div class="row">
            <div class="col-md-8 mx-auto text-center mt-5">
                <h6 class="text-primary">Membership</h6>
                <h4 class="mb-4">connections is what we are all about</h4>
                <button class="btn btn-outline-primary ms-3" onclick="location.href='/signup'">Sign
                    up</button>
                <button class="btn btn-outline-secondary ms-3" data-bs-toggle="modal"
                    data-bs-target="#exampleModal">Sign in</button>
            </div>
        </div>
    </div>
</section>

<!-- contact section -->
<section id="contact">
    <div class="container">
        <div class="row mb-4">
            <div class="col-md-8 mx-auto text-center">
                <h6 class="text-primary">Contact</h6>
                <h4>Ask anythinng</h4>
            </div>
        </div>

        <form action="" class="row g-3 justify-content-center mx-auto">
            <div class="col-md-5">
                <input type="text" class="form-control" placeholder="お名前">
            </div>
            <div class="col-md-5">
                <input type="text" class="form-control" placeholder="メールアドレス">
            </div>
            <div class="col-md-10">
                <textarea name="" id="" cols="30" rows="5" class="form-control" placeholder="お問い合わせ内容"></textarea>
            </div>
            <div class="col-md-10 d-grid">
                <button class="btn btn-primary">Contact</button>
            </div>
        </form>
    </div>
</section>

{% endblock %}